@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--GRILLA-INDEX*/
.grid-contenedor {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 1700px 200px;
    gap: 0px 0px;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
}

/*--GRILLA-BANDA*/
.grid-contenedorbanda {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 900px 200px;
    gap: 0px 0px;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer"
}

/*--GRILLA-DISCOGRAFIA*/
.grid-contenedordisco {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 800px 200px;
    gap: 0px 0px;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer"
}

/*--GRILLA-FECHAS*/
.grid-contenedorfechas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 900px 200px;
    gap: 0px 0px;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer"
}

/*--GRILLA-CONTACTO*/
.grid-contenedorcontacto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 900px 200px;
    gap: 0px 0px;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer"
}


/*--GRILLA-NOTICIAS*/
.grid-contenedornoticias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 800px 200px;
    gap: 0px 0px;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer"
}